<html>
<body>
  <h2>Test</h2>

  <form action="/dothesearch" method="post">
  	<input type="text" name="searchbox" size = "40" placeholder="What do you want to find ?">
  	<br>
  	<input type="button" name="search" value="Search" size = "40" >
  </form>
</body>
</html>