<html>
<body>
  <meta charset="UTF-8">
  <h2>Test</h2>

  <form action="/donewsearch" method="get">
  	<input type="text" name="itemtosearch" size = "40" placeholder="What do you want to find ?">
  	<button type="submit">Search</button>
  </form>
</body>

</html>