<!DOCTYPE HTML>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
    	Results of the search
    </title>
</head>
 <body>
 	<div class="container">
 		<div class="header" style="height:50px;">
			<div class="text-center" style="position:relative; top:10px">
				<p>The results of the search after: <%@result.each do |res|%> "<%=res.to_s%>" <%end%></p>
			</div>		
		</div>
		
		

		<%@results.each do |meme|%>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<%=meme.title%>
				</div>
				<div class="panel-body">
					<img src="<%=meme.url%>" width="1105" height="800" align="center" >
				</div>
				<div class="panel-footer" style="height:50px">
					Rating: <%=meme.rating%>	
				</div>
			</div>
		<%end%>
	</div>
</html>