<html>
<body>
  <h2>Test</h2>

  <form action="/donewsearch" method="post">
  	<input type="text" name="searchbox" size = "40" placeholder="What do you want to find ?">
  	<br>
  	<button type="submit">Search</button>
  </form>
</body>

</html>